|Test Case ID|Tester                        |Pass/fail    |Comments                                                                             
|:-----------|:-----------------------------|:------------|:-------------------------------------------------------------------------------------
|TBL001      |Akshay                        |Pass         |the required UI elements were met                                        
|TBL002      |Akshay                        |Pass         |the required UI elements were met                                        
|TBL003      |Akshay                        |Pass         |the sign-in page has the text boxes and the button to sign-in            
|TBL004      |Akshay                        |Pass         |entering an already existing user takes us to the landing page with signedin status
|TBL005      |Akshay                        |Pass         |by entering a wrong or new credentials in sign-in gives an error message 
|TBL006      |Akshay                        |Pass         |the sign-up page has the boxes for username and password and the sign-up button
|TBL007      |Rajiv                         |Pass         |If username fits the requirements it is succesfully created
|TBL008      |Rajiv                         |Pass         |If password fits the requirements it is succesfully created
|TBL009      |Rajiv                         |Pass         |both username and paassword fit requirents and account is succesfully created
|TBL010      |Rajiv                         |Pass         |error message is showen if requiremtns for sign up are not met
|TBL011      |Rajiv, Akshay                 |Pass         |status code 200 received 
|TBL012      |Rajiv, Akshay                 |Pass         |status code 401 unauthorised received
|TBL013      |Rajiv, Akshay                 |Pass         |status code 201 created received
|TBL014      |Rajiv, Akshay                 |Pass         |status code 409 conflict received
|TBL015      |Rajiv, Akshay                 |Pass         |status code 200 ok received
|TBL016      |Rajiv                         |Pass         | The data for usernames and passwords entered are sucessfully stored in the database

