# Sprint 1: Test Results

| Test Case ID | Tester        | Pass/fail | Comments                                                                             |
| :----------- | :------------ | :-------- | :----------------------------------------------------------------------------------- |
| TBL001       | Akshay        | Pass      | The required UI elements were met                                                    |
| TBL002       | Akshay        | Pass      | The required UI elements were met                                                    |
| TBL003       | Akshay        | Pass      | The sign-in page has the text boxes and the button to sign-in                        |
| TBL004       | Akshay        | Pass      | Entering an already existing user takes us to the landing page with signed in status |
| TBL005       | Akshay        | Pass      | By entering a wrong or new credentials in sign-in gives an error message             |
| TBL006       | Akshay        | Pass      | The sign-up page has the boxes for username and password and the sign-up button      |
| TBL007       | Rajiv         | Pass      | If username fits the requirements it is successfully created                         |
| TBL008       | Rajiv         | Pass      | If password fits the requirements it is successfully created                         |
| TBL009       | Rajiv         | Pass      | Both username and password fit requirements and account is successfully created      |
| TBL010       | Rajiv         | Pass      | Error message is shown if requirements for sign up are not met                       |
| TBL011       | Rajiv, Akshay | Pass      | Status code 200 received                                                             |
| TBL012       | Rajiv, Akshay | Pass      | Status code 401 unauthorized received                                                |
| TBL013       | Rajiv, Akshay | Pass      | Status code 201 created received                                                     |
| TBL014       | Rajiv, Akshay | Pass      | Status code 409 conflict received                                                    |
| TBL015       | Rajiv, Akshay | Pass      | Status code 200 ok received                                                          |
| TBL016       | Rajiv         | Pass      | The data for usernames and passwords entered are successfully stored in the database |

# Sprint 2: Test Results

| Test Case ID | Tester    | Pass/fail | Comments                                         |
| :----------- | :-------- | :-------- | :----------------------------------------------- |
| TBL017       | Sebastian | Pass      | The news articles were returned                  |
| TBL018       | Sebastian | Fail      | The settings were not updated                    |
| TBL019       | Sebastian | Fail      | The settings were not updated                    |
| TBL020       | Sebastian | Fail      | News articles were not present                   |
| TBL021       | Sebastian | Fail      | Settings button did not appear nor news articles |
| TBL022       | Sebastian | Pass      | Settings options were present                    |
| TBL023       | Sebastian | Fail      | Settings did not save properly                   |

| Test Case ID | Tester    | Pass/fail | Comments                                         |
| :----------- | :-------- | :-------- | :----------------------------------------------- |
| TBL017       | Sebastian | Pass      | The news articles were returned                  |
| TBL018       | Sebastian | Fail      | The settings were not updated                    |
| TBL019       | Sebastian | Fail      | The settings were not updated                    |
| TBL020       | Sebastian | Fail      | News articles were not present                   |
| TBL021       | Sebastian | Fail      | Settings button did not appear nor news articles |
| TBL022       | Sebastian | Pass      | Settings options were present                    |
| TBL023       | Sebastian | Fail      | Settings did not save properly                   |

| Test Case ID | Tester    | Pass/fail | Comments                                         |
| :----------- | :-------- | :-------- | :----------------------------------------------- |
| TBL017       | Sebastian | Pass      | The news articles were returned                  |
| TBL018       | Sebastian | Fail      | The settings were not updated                    |
| TBL019       | Sebastian | Fail      | The settings were not updated                    |
| TBL020       | Sebastian | Fail      | News articles were not present                   |
| TBL021       | Sebastian | Fail      | Settings button did not appear nor news articles |
| TBL022       | Sebastian | Pass      | Settings options were present                    |
| TBL023       | Sebastian | Fail      | Settings did not save properly                   |

| Test Case ID | Tester    | Pass/fail | Comments                                         |
| :----------- | :-------- | :-------- | :----------------------------------------------- |
| TBL017       | Sebastian | Pass      | The news articles were returned                  |
| TBL018       | Sebastian | Pass      | The settings were updated                        |
| TBL019       | Sebastian | Fail      | The settings were not updated                    |
| TBL020       | Sebastian | Fail      | News articles were not present                   |
| TBL021       | Sebastian | Fail      | Settings button did not appear nor news articles |
| TBL022       | Sebastian | Pass      | Settings options were present                    |
| TBL023       | Sebastian | Fail      | Settings did not save properly                   |

| Test Case ID | Tester    | Pass/fail | Comments                                         |
| :----------- | :-------- | :-------- | :----------------------------------------------- |
| TBL017       | Sebastian | Pass      | The news articles were returned                  |
| TBL018       | Sebastian | Pass      | The settings were updated                        |
| TBL019       | Sebastian | Pass      | The settings were updated                        |
| TBL020       | Sebastian | Fail      | News articles were not present                   |
| TBL021       | Sebastian | Fail      | Settings button did not appear nor news articles |
| TBL022       | Sebastian | Pass      | Settings options were present                    |
| TBL023       | Sebastian | Fail      | Settings did not save properly                   |

| Test Case ID | Tester    | Pass/fail | Comments                        |
| :----------- | :-------- | :-------- | :------------------------------ |
| TBL017       | Sebastian | Pass      | The news articles were returned |
| TBL018       | Sebastian | Pass      | The settings were updated       |
| TBL019       | Sebastian | Pass      | The settings were updated       |
| TBL020       | Sebastian | Fail      | News articles were not present  |
| TBL021       | Sebastian | Fail      | News articles did not appear    |
| TBL022       | Sebastian | Pass      | Settings options were present   |
| TBL023       | Sebastian | Pass      | Settings did saved properly     |

| Test Case ID | Tester    | Pass/fail | Comments                        |
| :----------- | :-------- | :-------- | :------------------------------ |
| TBL017       | Sebastian | Pass      | The news articles were returned |
| TBL018       | Sebastian | Pass      | The settings were updated       |
| TBL019       | Sebastian | Pass      | The settings were updated       |
| TBL020       | Sebastian | Pass      | News articles present           |
| TBL021       | Sebastian | Pass      | News articles did appear        |
| TBL022       | Sebastian | Pass      | Settings options were present   |
| TBL023       | Sebastian | Pass      | Settings did saved properly     |

# Sprint 3: Test Results

## Date: 03/27/23

| Test Case ID | Tester    | Pass/fail | Comments                                                           |
| :----------- | :-------- | :-------- | :----------------------------------------------------------------- |
| TBL024       | Sebastian | Fail      | Endpoint does not return articles based on user settings           |
| TBL025       | Sebastian | Fail      | Endpoint does not display category based articles                  |
| TBL026       | Rajiv     | Fail      | Landing Page was set up correctly                                  |
| TBL027       | Rajiv     | Fail      | Currently selected tab is not highlighted                          |
| TBL028       | Sebastian | Fail      | Clicking on tab switches to tab and does not show correct articles |
| TBL029       | Sebastian | Fail      | Pagination does not work                                           |
| TBL030       | Sebastian | Fail      | Home tab does not display articles based on settings               |

---

### Date: 03/30/23

| Test Case ID | Tester    | Pass/fail | Comments                                                           |
| :----------- | :-------- | :-------- | :----------------------------------------------------------------- |
| TBL024       | Sebastian | Pass      | Endpoint does return articles based on user settings               |
| TBL025       | Sebastian | Pass      | Endpoint does display category based articles                      |
| TBL026       | Rajiv     | Fail      | Landing Page was not set up correctly                              |
| TBL027       | Rajiv     | Fail      | Currently selected tab is not highlighted                          |
| TBL028       | Sebastian | Fail      | Clicking on tab switches to tab and does not show correct articles |
| TBL029       | Sebastian | Fail      | Pagination does not work                                           |
| TBL030       | Sebastian | Fail      | Home tab does not display articles based on settings               |

---

### Date: 04/02/23

| Test Case ID | Tester    | Pass/fail | Comments                                                   |
| :----------- | :-------- | :-------- | :--------------------------------------------------------- |
| TBL024       | Sebastian | Pass      | Endpoint does not return articles based on user settings   |
| TBL025       | Sebastian | Pass      | Endpoint does not display category based articles          |
| TBL026       | Rajiv     | Fail      | Landing Page is not set up correctly                       |
| TBL027       | Rajiv     | Fail      | Currently selected tab is highlighted                      |
| TBL028       | Sebastian | Fail      | Clicking on tab switches to tab and shows correct articles |
| TBL029       | Sebastian | Fail      | Pagination does not work                                   |
| TBL030       | Sebastian | Pass      | Home tab does display articles based on settings           |

---

### Date: 04/03/23

| Test Case ID | Tester    | Pass/fail | Comments                                                   |
| :----------- | :-------- | :-------- | :--------------------------------------------------------- |
| TBL024       | Sebastian | Pass      | Endpoint does return articles based on user settings       |
| TBL025       | Sebastian | Pass      | Endpoint does not display category based articles          |
| TBL026       | Rajiv     | Fail      | Landing Page is not set up correctly                       |
| TBL027       | Rajiv     | Pass      | Currently selected tab is highlighted                      |
| TBL028       | Sebastian | Pass      | Clicking on tab switches to tab and shows correct articles |
| TBL029       | Sebastian | Fail      | Pagination does not work                                   |
| TBL030       | Sebastian | Pass      | Home tab does display articles based on settings           |

---

### Date: 04/04/23

| Test Case ID | Tester    | Pass/fail | Comments                                                   |
| :----------- | :-------- | :-------- | :--------------------------------------------------------- |
| TBL024       | Sebastian | Pass      | Endpoint does return articles based on user settings       |
| TBL025       | Sebastian | Pass      | Endpoint does display category based articles              |
| TBL026       | Rajiv     | Fail      | Landing Page was not set up correctly                      |
| TBL027       | Rajiv     | Pass      | Currently selected tab is highlighted                      |
| TBL028       | Sebastian | Pass      | Clicking on tab switches to tab and shows correct articles |
| TBL029       | Sebastian | Pass      | Pagination works                                           |
| TBL030       | Sebastian | Pass      | Home tab does display articles based on settings           |

---

### Date: 04/06/23

| Test Case ID | Tester    | Pass/fail | Comments                                                   |
| :----------- | :-------- | :-------- | :--------------------------------------------------------- |
| TBL024       | Sebastian | Pass      | Endpoint does return articles based on user settings       |
| TBL025       | Sebastian | Pass      | Endpoint does display category based articles              |
| TBL026       | Rajiv     | Pass      | Landing Page was set up correctly                          |
| TBL027       | Rajiv     | Pass      | Currently selected tab is highlighted                      |
| TBL028       | Sebastian | Pass      | Clicking on tab switches to tab and shows correct articles |
| TBL029       | Sebastian | Pass      | Pagination does work                                       |
| TBL030       | Sebastian | Pass      | Home tab does display articles based on settings           |

---
# Sprint 4: Test Results
### Date: 04/23/23
| Test Case ID | Tester    | Pass/fail | Comments                                                   |
| :----------- | :-------- | :-------- | :--------------------------------------------------------- |
| TBL009       | Akshay    | Pass      | Sign up was successful and directed to home page           |
| TBL005       | Akshay    | Pass      | Signed in successfully and directed to home page           |
| TBL023       | Akshay    | Pass      | Settings did saved properly                                |
| TBL030       | Akshay    | Pass      | Home tab does display articles based on settings           |
| TBL029       | Akshay    | Pass      | Pagination does work and displays the set preferences      |
