| Test Case ID | Tester        | Pass/fail | Comments                                                                             |
| :----------- | :------------ | :-------- | :----------------------------------------------------------------------------------- |
| TBL001       | Akshay        | Pass      | The required UI elements were met                                                    |
| TBL002       | Akshay        | Pass      | The required UI elements were met                                                    |
| TBL003       | Akshay        | Pass      | The sign-in page has the text boxes and the button to sign-in                        |
| TBL004       | Akshay        | Pass      | Entering an already existing user takes us to the landing page with signed in status |
| TBL005       | Akshay        | Pass      | By entering a wrong or new credentials in sign-in gives an error message             |
| TBL006       | Akshay        | Pass      | The sign-up page has the boxes for username and password and the sign-up button      |
| TBL007       | Rajiv         | Pass      | If username fits the requirements it is successfully created                         |
| TBL008       | Rajiv         | Pass      | If password fits the requirements it is successfully created                         |
| TBL009       | Rajiv         | Pass      | Both username and password fit requirements and account is successfully created      |
| TBL010       | Rajiv         | Pass      | Error message is shown if requirements for sign up are not met                       |
| TBL011       | Rajiv, Akshay | Pass      | Status code 200 received                                                             |
| TBL012       | Rajiv, Akshay | Pass      | Status code 401 unauthorized received                                                |
| TBL013       | Rajiv, Akshay | Pass      | Status code 201 created received                                                     |
| TBL014       | Rajiv, Akshay | Pass      | Status code 409 conflict received                                                    |
| TBL015       | Rajiv, Akshay | Pass      | Status code 200 ok received                                                          |
| TBL016       | Rajiv         | Pass      | The data for usernames and passwords entered are successfully stored in the database |
