|Test Case ID|Tester                        |Pass/fail    |Comments                                                                             
|:-----------|:-----------------------------|:------------|:-------------------------------------------------------------------------------------
|TBL001      |Akshay                        |Pass         |the required UI elements were met                                        
|TBL002      |Akshay                        |Pass         |the required UI elements were met                                        
|TBL003      |Akshay                        |Pass         |the sign-in page has the text boxes and the button to sign-in            
|TBL004      |Akshay                        |Pass         |entering an already existing user takes us to the landing page with signedin status
|TBL005      |Akshay                        |Pass         |by entering a wrong or new credentials in sign-in gives an error message 
|TBL006      |Akshay                        |Pass         |the sign-up page has the boxes for username and password and the sign-up button
