|Test Case ID|Tester                        |Pass/fail    |Comments                                                            |
|TBL001      |Akshay                        |Pass         |the required UI elements were met                                   |
|TBL002      |Akshay                        |Pass         |the required UI elements were met                                   |
