# Sprint 3: Test Results

| Test Case ID | Tester    | Pass/fail | Comments                                                           |
| :----------- | :-------- | :-------- | :----------------------------------------------------------------- |
| TBL001       | Sebastian | Fail      | Endpoint does not return articles based on user settings           |
| TBL002       | Sebastian | Fail      | Endpoint does not display category based articles                  |
| TBL003       | Rajiv     | Fail      | Landing Page was set up correctly                                  |
| TBL004       | Rajiv     | Fail      | Currently selected tab is not highlighted                          |
| TBL005       | Sebastian | Fail      | Clicking on tab switches to tab and does not show correct articles |
| TBL006       | Sebastian | Fail      | Pagination does not work                                           |
| TBL007       | Sebastian | Fail      | Home tab does not display articles based on settings               |

| Test Case ID | Tester    | Pass/fail | Comments                                                           |
| :----------- | :-------- | :-------- | :----------------------------------------------------------------- |
| TBL001       | Sebastian | Pass      | Endpoint does return articles based on user settings               |
| TBL002       | Sebastian | Pass      | Endpoint does display category based articles                      |
| TBL003       | Rajiv     | Fail      | Landing Page was not set up correctly                              |
| TBL004       | Rajiv     | Fail      | Currently selected tab is not highlighted                          |
| TBL005       | Sebastian | Fail      | Clicking on tab switches to tab and does not show correct articles |
| TBL006       | Sebastian | Fail      | Pagination does not work                                           |
| TBL007       | Sebastian | Fail      | Home tab does not display articles based on settings               |

| Test Case ID | Tester    | Pass/fail | Comments                                                   |
| :----------- | :-------- | :-------- | :--------------------------------------------------------- |
| TBL001       | Sebastian | Pass      | Endpoint does not return articles based on user settings   |
| TBL002       | Sebastian | Pass      | Endpoint does not display category based articles          |
| TBL003       | Rajiv     | Fail      | Landing Page is not set up correctly                       |
| TBL004       | Rajiv     | Fail      | Currently selected tab is highlighted                      |
| TBL005       | Sebastian | Fail      | Clicking on tab switches to tab and shows correct articles |
| TBL006       | Sebastian | Fail      | Pagination does not work                                   |
| TBL007       | Sebastian | Pass      | Home tab does display articles based on settings           |

| Test Case ID | Tester    | Pass/fail | Comments                                                   |
| :----------- | :-------- | :-------- | :--------------------------------------------------------- |
| TBL001       | Sebastian | Pass      | Endpoint does return articles based on user settings       |
| TBL002       | Sebastian | Pass      | Endpoint does not display category based articles          |
| TBL003       | Rajiv     | Fail      | Landing Page is not set up correctly                       |
| TBL004       | Rajiv     | Pass      | Currently selected tab is highlighted                      |
| TBL005       | Sebastian | Pass      | Clicking on tab switches to tab and shows correct articles |
| TBL006       | Sebastian | Fail      | Pagination does not work                                   |
| TBL007       | Sebastian | Pass      | Home tab does display articles based on settings           |

| Test Case ID | Tester    | Pass/fail | Comments                                                   |
| :----------- | :-------- | :-------- | :--------------------------------------------------------- |
| TBL001       | Sebastian | Pass      | Endpoint does return articles based on user settings       |
| TBL002       | Sebastian | Pass      | Endpoint does display category based articles              |
| TBL003       | Rajiv     | Fail      | Landing Page was not set up correctly                      |
| TBL004       | Rajiv     | Pass      | Currently selected tab is highlighted                      |
| TBL005       | Sebastian | Pass      | Clicking on tab switches to tab and shows correct articles |
| TBL006       | Sebastian | Pass      | Pagination works                                           |
| TBL007       | Sebastian | Pass      | Home tab does display articles based on settings           |

| Test Case ID | Tester    | Pass/fail | Comments                                                   |
| :----------- | :-------- | :-------- | :--------------------------------------------------------- |
| TBL001       | Sebastian | Pass      | Endpoint does return articles based on user settings       |
| TBL002       | Sebastian | Pass      | Endpoint does display category based articles              |
| TBL003       | Rajiv     | Pass      | Landing Page was set up correctly                          |
| TBL004       | Rajiv     | Pass      | Currently selected tab is highlighted                      |
| TBL005       | Sebastian | Pass      | Clicking on tab switches to tab and shows correct articles |
| TBL006       | Sebastian | Pass      | Pagination does work                                       |
| TBL007       | Sebastian | Pass      | Home tab does display articles based on settings           |
